h1{
    font-size:30px;text-align:center; line-height:1.5em; padding-bottom:45px; font-family:"Playfair Display", serif; text-transform:uppercase;letter-spacing: 2px; color:#111;
}
h2{
    text-transform:uppercase;
  font-size:26px; letter-spacing:1px;
 
    
}
p{
    font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1em;
  padding-left: 0.25em;
  color: rgb(0, 0, 0);
  padding-bottom: 10px;
}